body{
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 4fr;
}

.sidebar {
    background-color: cornflowerblue;
    color: white;
    grid-row: span 2;
    gap: 50px;
    display: grid;
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-row: span 2;
}

.sideitems {
    display: grid;
    justify-content: start;
}

.sideitems p {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.header p {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30px 0.8fr;
    justify-content: center;
    gap: 10px;
}

input[type="search"] {
    background-color: #bfdbfe;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
}
