body{
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 4fr;
}

.sidebar {
    background-color: cornflowerblue;
    color: white;
    grid-row: span 2;
    gap: 50px;
    display: grid;
    padding: 20px;
    font-weight: 700;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-row: span 2;
}

.sideitems {
    display: grid;
    justify-content: start;
}

.sideitems p {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.searchbar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30px 0.8fr;
    justify-content: center;
    gap: 10px;
}

input[type="search"] {
    background-color: #bfdbfe;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
}

.headerleft { /* Grid with 2cols 2rows, img spans 2 rows */
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: left;
    margin-left: 20px;
}

.headerleft img {
    grid-row: span 2;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
}

.headerleft > p {
    font-weight: 700;
}

.headerleft > p:first-of-type {
    font-size: small;
    align-self: end;
}

.headerright {
    
}